<% if article.image.present? %>
  <div class="content-intro-image">
    <%= image_tag article.image.url, class: 'cli-img' %>
  </div>
<% end %>

<div class="content-topic free-bottom free-top heavy mygrey-dark">
  <%= article.t_attr(:title) %>
</div>

<h1><%= article.subtitle %></h1>
<div class="contents">
  <%= sanitize_content(article.t_attr(:content)) %>
</div>

	<script>
	$("#menu<%= article.category_id %>").css("border-bottom", "4px solid rgba(200,200,200,0.9)");
	$("#menu<%= article.category_id %>").css("border-bottom", "4px solid rgba(200,200,200,0.9)");
	$("#menu<%= article.category_id %>").css("background", "rgba(200,200,200,0.3)");
	</script>
