<% content_for(:title) { t('page_title.index') } %>

<div class="myrow centered" >
  <div class="one item">
    <div class="myrow spaced">

      <div class="twins item free-top free-bottom">

        <div class="slider-con">
          <div class="slider">
            <ul class="slides">

              <% @banners.each do |banner| %>
              <li class="slide slide-two">
                <div class="slide-con">
                  <div class="slide-img">
                    <% if banner.post&.image %>
                      <%= image_tag banner.post.image, style: 'width: 100%' %>
                    <% end %>
                  </div>
                  <%= link_to post_path(banner.post) do %>
                    <div class="slide-content slide-Out" id="slide2">
                      <div class="slide-item-con">
                        <div class="slide-item topic3 myblue-light heavy">
                          <p><%= banner.post.t_attr(:title) %></p>
                        </div>
                        <div class="slide-item-word mytext">
                          <p><%= sanitize(banner.post.content.truncate(50)) %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
            </ul>
          </div>
        </div>

      </div>

      <div class="three item free-bottom">
        <div class="myrow centered ">

          <% @link_blocks.each do |link| %>
            <div class="sidenews-con" onclick="window.location.href='<%= link.link %>'">
              <%= link_to link.link do %>
                <div class="sidenews-img">
                  <%= image_tag link.image %>
                </div>
                <div class="sidenews-content side-Out" id="sidenews1">
                  <div class="sidenews-word topic4 heavy">
                    <p><%= link.title %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>

      <% @post_categories.each do |pc| %>
        <%= render partial: 'partials/posts', locals: {pc: pc} %>
      <% end %>
    </div>
  </div>
</div>
