<div class="myrow centered" >
  <div class="one item">
    <div class="myrow spaced">

      <div class="twins item free-top free-bottom">

        <div class="slider-con">
          <div class="slider">
            <ul class="slides">
              <li class="slide slide-one">
                <div class="slide-con">
                  <div class="slide-img">
                    <img src="http://i.imgur.com/yrE6hmz.jpg" style="width: 100%;"/>
                  </div>
  <a href="#">
    <div class="slide-content slide-Out" id="slide1">
      <div class="slide-item-con">
        <div class="slide-item topic3 myblue-light heavy">
          <p>美國哈佛大學電腦科學系孔祥重教授指導研究</p>
        </div>
        <div class="slide-item-word mytext">
          <p>國外頂尖實驗室短期交流,以期激發雙邊國際合作更優質的研究成果,......</p>
        </div>
      </div>
    </div>
  </a>
                </div>
              </li>
              <li class="slide slide-two">
                <div class="slide-con">
                  <div class="slide-img">
                    <img src="http://i.imgur.com/wSA5L6y.jpg" style="width: 100%;"/>
                  </div>
                  <a href="#">
                    <div class="slide-content slide-Out" id="slide2">
                      <div class="slide-item-con">
                        <div class="slide-item topic3 myblue-light heavy">
                          <p>美國哈佛大學電腦科學系孔祥重教授指導研究</p>
                        </div>
                        <div class="slide-item-word mytext">
                          <p>國外頂尖實驗室短期交流,以期激發雙邊國際合作更優質的研究成果,......</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li class="slide slide-three">
                <div class="slide-con">
                  <div class="slide-img">
                    <img src="http://i.imgur.com/7swNZKX.jpg" style="width: 100%;"/>
                  </div>
                  <a href="#">
                    <div class="slide-content slide-Out" id="slide3">
                      <div class="slide-item-con">
                        <div class="slide-item topic3 myblue-light heavy">
                          <p>美國哈佛大學電腦科學系孔祥重教授指導研究</p>
                        </div>
                        <div class="slide-item-word mytext">
                          <p>國外頂尖實驗室短期交流,以期激發雙邊國際合作更優質的研究成果,......</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="three item free-top free-bottom">
        <div class="myrow centered ">

          <div class="sidenews-con" onclick="window.location.href='#'">
            <a href="#">
              <div class="sidenews-img">
                <%= image_tag 'jk.PNG', style: 'width: 200%' %>
              </div>
              <div class="sidenews-content side-Out" id="sidenews1">
                <div class="sidenews-word topic4 heavy">
                  <p>高中生專區</p>
                </div>
              </div>
            </a>
          </div>

          <div class="sidenews-con" onclick="window.location.href='#'">
            <a href="#">
              <div class="sidenews-img">
                <%= image_tag 'africa.jpg', style: 'width: 200%' %>
              </div>
              <div class="sidenews-content side-Out" id="sidenews2">
                <div class="sidenews-word topic4 heavy">
                  <p>留學資訊</p>
                </div>
              </div>
            </a>
          </div>

          <div class="sidenews-con" onclick="window.location.href='#'">
            <a href="#">
              <div class="sidenews-img">
                <%= image_tag 'glasses.jpg', style: 'width: 200%' %>
              </div>
              <div class="sidenews-content side-Out" id="sidenews3">
                <div class="sidenews-word topic4 heavy">
                  <p>課程資訊</p>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>


      <% @post_categories.each do |pc| %>
        <div class="three item free-top free-bottom">
          <div class="news">
            <div class="news-topic-con">
              <div class="news-topic-bar"></div>
              <div class="news-topic topic4 myblue short heavy">
                <p><%= pc.t_title %></p>
              </div>
            </div>

            <% pc.posts&.first(5).each do |p| %>
              <div class="news-content" onclick="window.location.href='#'">
                <div class="news-content-info-con">
                  <div class="news-content-info-tag topic6 myblue-invert short">
                    <p>交換</p>
                  </div>
                  <div class="news-content-info-date topic6 myblue short">
                    <p><%= l(p.created_at, format: :long) %></p>
                  </div>
                </div>
                <div class="news-content-content">
                  <a href="#">
                    <div class="topic5 heavy mygrey">
                      <p><%= p.t_title %></p>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>

            <div class="news-end">
              <a href="#">
                <div class="topic5 mygrey short heavy">
                  <p>More...</p>
                </div>
              </a>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
