
    <div class="myrow centered free-top free-bottom">
        <div class="subcenter item myrow spaced">

          <div class="pimage">
            <%= image_tag @member.image.url if @member.image %>
          </div>

          <div class="pContent">
            <div class="pcontent-topic topic2 free-bottom heavy short mygrey-dark">
              <p><%= @member.name %> <%= @member.title %></p>
            </div>
            <div class="pcontent-content mytext mygrey-dark">
              <p><%= @member.full_title %></p>
              <p><%= @member.content %></p>
            </div>
          </div>


        </div>

      <div class="subwide three item free-top free-bottom">
        <div class="news">
          <div class="news-topic-con">
            <div class="news-topic-bar"></div>
            <div class="news-topic topic4 myblue heavy">
              最新公告
            </div>
          </div>

          <% @posts.each do |p| %>
            <%= render(partial: 'partials/post_entry', locals: {post: p}) %>
          <% end %>


          <div class="news-end">
            <%= link_to posts_path do %>
              <div class="topic5 mygrey short heavy">
                <p>More...</p>
              </div>
            <% end %>
          </div>

      </div>

      </div>
    </div>
